{% extends 'base.html' %}

{% block title %}{{basename(request.path)}}{% endblock %}

{% block content %}
<h1>{{basename(request.path)}}</h1>
<div class='row'>
    <div class='halfblock'>
        <h2> Directories: </h2>
        <ul class='dirlist'>
            <li> <a href="/{{parent_dir}}"> ... </a>
            {% for file in dirs %}
            <li>
                <a href="{{ (request.path + '/' if request.path != '/' else '') + file }}">
                    {{ basename( file ) }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class='halfblock'>
        <ul class='filelist'>
            <h2> Files: </h2>
            {% for file in files %}
            <li>
                <a href="{{ (request.path + '/' if request.path != '/' else '') + file }}" >
                    {{ basename( file ) }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}